* {
	margin: 0;
	padding: 0;
}
.slicknav_menu {
	display: none;
	padding: 3px;
}
body {
	font-family: sans-serif;
	font-size: 100%;
	max-width: 1024px;
    width: 95%;
	margin: 0 auto; 
	border: 3px solid steelblue;
	box-shadow: 0px 20px 30px black;
}


/*the styles for the header*/
header {
    width: 100%;
	background-image: linear-gradient(to bottom, white 3%, #b0c4de 100%);
	border-bottom: 3px solid steelblue;
    padding: 1.5em 0 1.5em 0;

}

header h1 {
	font-size: 250%;
	color: steelblue;
	text-align: left;
	text-shadow: 3px 3px 4px steelblue;
	font-style: italic;
}

header h2 {
	font-size: 150%;
	color: black;
	padding-top: 10px;
}

header img { 
	float: left;
	padding: 0 1em;
    max-width: 10em;

}

.navbar ul {
	list-style: none;
	position: relative;
    max-width: 1024px;
	width: 100%;
	
}

.navbar ul li { 
	float: left; 
	width: 20%;
}
.navbar ul ul { 
	display: none;
	position: absolute;
	top: 100%;
}

.navbar ul ul li {float: none;}
.navbar ul li:hover > ul {
	display: block
}

.navbar > ul::after { 
	content: "";
	display: block;
	clear: both;
}

/*style for nav menu*/
.navbar ul li a { 
	text-align: center; 
	display: block; 
	padding: 5px -1em 5px 1em;
	text-decoration: none; 
	background-color: steelblue; 
	color: white; 
	font-weight: bold;
}

.navbar ul li a:hover {
    background-color: lightsteelblue;
} 

.navbar ul li #stress { 
	color: black;
	background-color: rgb(60, 114, 158);
}

/*the styles for the main content*/
main { 
	clear: both;
	height: fit-content;
}

section {
	width: 55.18%;          /* 565/1024 x 100 */
	float: right;
	padding: 0 20px 20px 5px;
}

section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: auto;               /* If you remove this, the margins in normalize.css will be applied. */
}
section h2 {
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

section h3 { color: maroon;}
section p {
	padding-bottom: .5em;
}
.list2 {
	padding: 0 2em;
	font-weight: normal;
}


main h1 { font-size: 170%;}
main h2 { font-size: 140%;}
main h3 { font-size: 120%;}

main h1, h2, h3 { margin-bottom: .5em;}

/* the styles for the aside */
aside{
    float: left;
    width: 23.93%;           /* 245/1024 x 100 */
	margin-left: 2.5em;	
}

aside h2{
    color: maroon;
	font-size: 150%;
	padding: .5em 0 0em 0;
}
aside ul{
	padding-left: .75em;
}

ul { line-height: 1.5em;}
.sidelist li { 
	font-size: 100%;
	font-weight: bold;
}

.sidelist ul li a { 
	Color: steelblue;
	text-decoration: none;
}
.sidelist ul li a:hover, .sidelist ul li a:focus { 
	color: maroon;
}

/*the styles for the footer*/
footer {

	background: steelblue 100%;
	padding: 15px;
	clear: both;
	
}

footer p {
	font-size: 80%;
	text-align: center;
    color: white;
}

/* Media query for 850px */
@media only screen and (max-width: 900px) { 
	body {
		box-shadow: none !important;
		font-size: 90%;
	}	
}

/* media query for 767px */
@media only screen and (max-width: 767px) {
	.navbar {display: none;}
	.slicknav_menu {display: block;}
	header img { 
		width: auto;
		height: auto;
	}
	.sidelist {
		float: none;
		width: 100%;
		margin: 1em;
	}
	section {width: 95%;}

	
}

/* media query for 479px */
@media only screen and (max-width: 479px) {
	.navbar {display: none;}
	.slicknav_menu {display: block;}
	body {
		font-size: 90%;;
	}
	section {padding-right: .5em;}
	header img {
		width: auto;
		height: auto;
	}
	header {font-size: 80%;}
}